body{
    background: #f5f5f5;  /* fallback for old browsers */

}
/* Nav Bar */
.nav-background {
    background-color: #0F1626;
    
}
.nav-background a{
    color:#F8EEE7;
    font-weight: bold;
}
.nav-background a:hover{
    color:#66ebf7;
    font-weight: bold;
}
.nav-btn{
    color:white;
    background-color: #f8eee757;
}
.nav-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
th,td{
    text-align: center;
    vertical-align: center;
    
}

/* Formulario  */
 
.form button {
    width: 100%;
}

