{%extends "./base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Inscripciones
{% endblock %}



{% block body %}
{% if registro_inscripcion %}
{% if turno_abierto %}
<div class="container">
<h6 class="m-4">Estado del registro de inscripcion: <strong style="color: green;">{{inscripcion_estado}}</strong></h6>
</div>
<div class="container">
    <div class="progress bg-info" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 30px;">
        <div class="progress-bar bg-success" style="width: 100%; height: 30px;">Pendiente</div>
        <div class="progress-bar bg-info" style="width: 100%; height: 30px;">Por pagar</div>
        <div class="progress-bar bg-info" style="width: 100%; height: 30px;">Inscrito</div>
    </div>
</div>
<div class="container">
    <div class="row py-4">
        <!-- Seccion de listado de Cursos -->
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}
            <div class="card ">
                <div class="accordion" id="accordionExample">
                    <h2 class="p-4">Asignatura Ofertadas</h2>
                    {% for semestre, materias in materias_semestre.items %}
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        {{semestre}}
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            {% if materias %}
                            <table class="table table-striped">
                                <thead>
                                    <tr class="text-center">
                                        <th>Codigo</th>
                                        <th>Nombre</th>
                                        <th>Unidades</th>
                                        <th>Departamento</th>
                                        <th>Estado</th>
                                        <th>Opcion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for materia in materias %}
                                    <tr class="text-center">
                                        <td>{{materia.codigo}}</td>
                                        <td>{{materia.nombre}}</td>
                                        <td>{{materia.creditos}}</td>
                                        <td>{{materia.departamento_id}}</td>
                                        {% if materia.abierta %}
                                        <td>Abierto</td>
                                        {% else %}
                                        <td>Cerrado</td>
                                        {% endif %}
                                        <td><a href="{% url 'academico:agregar' materia.codigo %}" class="btn btn-success">Agregar</a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                            <p>No hay materias en este semestre</p>
                            {% endif %}
                        </div>
                      </div>
                    </div>

                    {% endfor %}
                    </div>
        
             
            </div>
        </div>

        <!-- Seccion del Formulario -->
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Asignaturas a inscribir</h2>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr class="text-center">
                                    <th>Codigo</th>
                                    <th>Nombre</th>
                                    <th>Creditos</th>
                                    <th>Especialidad</th>
                                    <th>Opcion</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if request.session.carrito.items %}
                                {% for key, value in request.session.carrito.items %}
                                <tr class="text-center">
                                    <td>{{value.materia_codigo}}</td>
                                    <td>{{value.nombre}}</td>
                                    <td>{{value.unidades}}</td>
                                    <td>{{value.carrera}}</td>
                                    <td><a href="{% url 'academico:eliminar' value.materia_codigo  %}" class="btn btn-danger">Eliminar</a></td>
                                </tr>
                                {% endfor %}
                                {% else %}
                                <tr>
                                    <th colspan="6"><div class="alert alert-danger text-center"><p>Sin materias</p></div></th>
                                    
                                </tr>
                                {% endif %}
                                <tr>
                                    <th scope="row" colspan="2">Total de creditos: </th>
                                    <td>{{total_creditos}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row text-center">
                        <a href="{% url 'academico:estado_pago' %}" class="btn btn-success my-2">Inscribir</a>
                        <a href="{% url 'academico:limpiar' %}" class="btn btn-danger">Limpiar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<p>Todavia no te toca inscribirte</p>
<p>Tu inscripcion abre el {{fecha_apertura}}</p>
{% endif %}
{% else %}
<p style="color: #c47917;">No se encontro registro de inscripcion para este estudiante</p>
{% endif %}

{% endblock %}