{%extends "./base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Inscripciones
{% endblock %}

{% block estilos %} 
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,300;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/responsive.css">
{% endblock %}

{% block body %}
<div class="row py-4">
    <!-- Seccion de listado de Cursos -->
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        
        <div class="card">
            
            <div class="card-body">
                <h2>Asignatura Ofertadas</h2>
                <table class="table table-striped">
                    
                    <thead>
                        <tr class="text-center">
                            <th>Codigo</th>
                            <th>Nombre</th>
                            <th>Unidades</th>
                            <th>Alumnos Inscritos</th>
                            <th>Especialidad</th>
                            <th>Opcion</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for asignatura in asignaturas %}
                        <tr class="text-center">
                            <td>{{asignatura.codigo}}</td>
                            <td>{{asignatura.nombre}}</td>
                            <td>{{asignatura.unidades}}</td>
                            <td>{{asignatura.cantidad_estudiantes}}</td>
                            <td>{{asignatura.carrera}}</td>
                            <td><a href="{% url 'academico:agregar' asignatura.codigo %}" class="btn btn-success">Agregar</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Seccion del Formulario -->
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Asignaturas a inscribir</h2>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr class="text-center">
                                <th>Codigo</th>
                                <th>Nombre</th>
                                <th>Creditos</th>
                                <th>Especialidad</th>
                                <th>Opcion</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if request.session.carrito.items %}
                            {% for key, value in request.session.carrito.items %}
                            <tr class="text-center">
                                <td>{{value.materia_codigo}}</td>
                                <td>{{value.nombre}}</td>
                                <td>{{value.unidades}}</td>
                                <td>{{value.carrera}}</td>
                                <td><a href="{% url 'academico:eliminar' value.materia_codigo  %}" class="btn btn-danger">Eliminar</a></td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <th colspan="6"><div class="alert alert-danger text-center"><p>Sin materias</p></div></th>
                                
                            </tr>
                            {% endif %}
                            <tr>
                                <th scope="row" colspan="2">Total de creditos: </th>
                                <td>{{total_creditos}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row text-center">
                    <a href="{% url 'academico:limpiar' %}" class="btn btn-danger">Limpiar</a>
                    <a href="#" class="btn btn-success my-2">Inscribir</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}